.profile-modal {
  background: linear-gradient(to right, #dc2430, #7b4397);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-close {
  font-size: 3rem;
  color: white;
  font-style: bold;
  cursor: pointer;
}

.modal-close:hover {
  color: red;
  cursor: pointer;
}
